<!DOCTYPE html>
<html>
<head>
    @addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/*/*.min.css" />
    <link href="~/Style/Style.css" rel="stylesheet" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
</head>
<body>
    <header>
        <div id="logoTxt">
            <a href="/catalogue"><h2>MBMSTORE</h2></a>
        </div>
        <div class="col-4 text-right" id="cart">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </header>
    <div class="row m-1 p-1">
        <div class="row panel">
            <div id="categories" class="col-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
        </div>
        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- <footer> Footertext</footer> -->
</body>
</html>
