<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Style/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="logoTxt">
            <a href="catalogue"><h2>MBMSTORE</h2></a>
        </div>
        <nav id="menu">
            <a href="catalogue">Home</a>
            <a href="#">Movies</a>
            <a href="#">Book</a>
            <a href="#">Music</a>
        </nav>
    </header>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Put something useful here later
        </div>
        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- <footer> Footertext</footer> -->
</body>
</html>
