@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MbmStore.Models;
@using MbmStore.Infrastructure;
<!--Strongly typed View-->
@{
    ViewData["Title"] = "Catalogue";
}
@model ProductsListViewModel
<section>
    @if (Model.Products.OfType<Movie>().ToList().Count > 0)
    {
        <div id="products">
            <h3>Movies</h3>
            @foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
            {
                // Kalder Partial View
                @await Html.PartialAsync("_ProductSummaryMovie", movie)
            }
        </div>
    }

    @if (Model.Products.OfType<Book>().ToList().Count > 0)
    {
        <div id="products">
            <h3>Books</h3>
            @foreach (Book book in Model.Products.OfType<Book>().ToList())
            {
                // Kalder Partial View
                @await Html.PartialAsync("_ProductSummaryBook", book)
            }
        </div>
    }

    @if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
    {
        <div id="products">
            <h3>Music</h3>
            @foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList())
            {
                // Kalder Partial View
                @await Html.PartialAsync("_ProductSummaryMusicCD", cd)
            }
        </div>
    }

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1">
    </div>
</section>